<div class="col mb-4">
    <div class="card">
        <%= image_tag website.image.variant(resize_to_limit: [480, 480]), class: "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title"><%= website.title %></h5>
            <%= link_to "View", website, class: "btn btn-primary" %>
        </div>
    </div>
</div>