<% content_for :page_title do %>
    Edit Website
<% end %>
<%= link_to "Back", :back %>
<%= image_tag @website.image if @website.image.attached? %>
<% content_for :column_two do %>
  <div class="card shadow-sm border-0">
        <div class="card-body">
            <%= render "form" %>
        </div>
    </div>
<% end %>
