<% content_for :page_title do %>
    My Websites
<% end %>
<% if policy(Website).new? %>
    <div class="text-center mb-5">
        <%= link_to "Add a Website to Monitor", new_website_path, class: "btn btn-primary btn-lg" %>
    </div>
<% end %>
<% if @websites.present? %>
    <div class="card-deck mx-auto justify-content-center">
        <%= render @websites %>
    </div>
<% end %>