<% content_for :page_title do %>
    My Websites
<% end %>
<% if @websites.present? %>
<div class="row row-cols-1 row-cols-md-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
    <%= render @websites %>
</div>
<% else %>
    <%= link_to "Add Your First Website", new_website_path, class: "btn btn-primary btn-lg" %>
<% end %>