<% content_for :page_title do %>
    My Websites
<% end %>
<% if @websites.present? %>
<div class="card-deck justify-content-center">
    <%= render @websites %>
</div>
<% else %>
    <div class=" justify-content-center">
        <%= link_to "Add Your First Website", new_website_path, class: "btn btn-primary btn-lg" %>
    </div>
<% end %>