<% content_for :page_title do %>
    Add a New Website to Monitor
<% end %>
<% content_for :column_two do %>
<div class="card shadow-sm border-0">
    <div class="card-body">
        <%= render "form" %>
    </div>
</div>
<% end %>