<% content_for :page_title do %>
    Previous DNS Records
<% end %>
<% content_for :page_title_button do %>
    <%= render partial: "websites/url", locals: { url: @website.url }  %>
<% end %>
<%= render @zone_files %>
<div class="d-flex">
    <%== pagy_bootstrap_nav(@pagy) %>
</div>