<% content_for :page_title do %>
    Contact 
<% end %>
<p>Email: <a href="mailto:stevepolito@hey.com?subject=I have a question about My Site Archive">stevepolito@hey.com</a></p>
<p>Twitter: <a href="https://twitter.com/stevepolitodsgn">https://twitter.com/stevepolitodsgn</a></p>
<p>GitHub: <a href="https://github.com/stevepolitodesign/my_site_archive">https://github.com/stevepolitodesign/my_site_archive</a></p>