<% content_for :page_title do %>
    Pricing 
<% end %>
<% content_for :sub_head do %>
    <h2 class="text-secondary fw-light fs-3">Sign up today for a 14 day free trial. No credit card required.</h2>
<% end %>
<%= render "shared/pricing" %>