language: ruby
cache:
  - bundler
  - yarn
services:
  - postgresql
  - redis-server
before_install:
  - nvm install --lts
before_script:
  - bundle install --jobs=3 --retry=3
  - yarn
  - bundle exec rake db:create
  - bundle exec rake db:schema:load
script:
  - bundle exec rake test
  - bundle exec rake test test/system/free_trial_flows_test.rb
  - bundle exec rake test test/system/user_flows_test.rb
  - bundle exec rake test test/system/webpage_flows_test.rb 
  - bundle exec rake test test/system/website_flows_test.rb   