<% content_for :page_title do %>
    <% @webpage.title %>
<% end %>
<% if @webpage.latest_screenshot.present? && @webpage.latest_screenshot.image.attached? %>
    <%= image_tag @webpage.latest_screenshot.image, class: "img-fluid rounded shadow-sm border" %>
<% end %>
<% content_for :column_two do %>
  <div class="card shadow-sm border-0">
        <div class="card-body">
            <%= render "form" %>
        </div>
    </div>
<% end %>