<% content_for :page_title do %>
    <% @webpage.title %>
<% end %>
<% if @screenshots.present? %>
    <div class="card-deck justify-content-center">
        <%= render @screenshots %>
    </div>
    <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>    
<% end %>