<% content_for :page_title do %>
    <% @webpage.title %>
<% end %>
<% content_for :page_title_button do %>
    <%= render partial: "websites/url", locals: { url: @webpage.url }  %>
<% end %>
<%= turbo_stream_from(@webpage.website.user, :screenshots) %>
<% if @screenshots.present? %>
    <div class="row">
        <%= render partial: "screenshots/screenshot",  collection: @screenshots, layout: "screenshots/layouts/column" %>
    </div>
    <div class="d-flex">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>    
<% else %>
    <div class="row">
        <div id="screenshots" class="d-flex justify-content-center align-items-center mb-4">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="m-3">Generating screenshot. Check back later.</span>
        </div>
    </div>
<% end %>