---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_wF0hL3YpcYQ0xw1uJZvVvlW1
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such subscription: 'sub_123'",
            "param": "id",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 26 Nov 2020 16:44:39 GMT
recorded_with: VCR 6.0.0
