<h5 class="text-secondary mb-4 pb-3 border-bottom">Interested in archiving your website?</h5>
<div class="card border-0 shadow-sm mb-4">
  <div class="card-body">
    <p class="card-text">My Site Archive captures screenshots, downloads source code, tracks Google Lighthouse scores and monitors DNS records helping you keep track of changes on your websites without needing to restore from a backup.</p>
    <p class="card-text fw-bold">Think of it like the Wayback Machine on steroids.</p>
    <%= link_to "Start your free trial", new_user_registration_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>