<div class="card text-white bg-primary mb-3 text-center">
  <div class="card-body">
    <h2 class="card-title">Interested in archiving your website?</h2>
    <p class="card-text">My Site Archive captures screenshots, downloads source code, and monitors DNS records helping you keep track of changes on your websites without needing to restore from a backup. Think of it like the Wayback Machine on steroids.</p>
    <%= link_to "Sign up today for a 30 day free trial. No credit card required.", new_user_registration_path, class: "btn btn-outline-light btn-lg mb-3" %>
  </div>
</div>