<div class="row mb-3">
    <div class="col">
        <h2 class="h1 text-center">Demo</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>        
    </div>
</div>