<div class="row row-cols-1 justify-content-center">
    <div class="col mb-4">
        <h2 class="h1 text-center">Demo</h2>
        <div class="card border-0 shadow-sm text-center">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GE8R-OgpLug" allowfullscreen></iframe>
                </div>
            </div>
        </div>        
    </div>
</div>