<h3>How many websites can I monititor?</h3>
<p>All plans allow you to monitor up to 10 websites. We will offer additional plans with a higher limit.</p>
<h3>How many webapges can I monititor?</h3>
<p>All plans allow you to monitor up to 10 webpages per website. This means that you can have up to 100 URLs being monititored.</p>
<p>We will offer additional plans with a higher limit.</p>
<h3>How frequently are my websites and webpages archived?</h3>
<p>All plans are scheduled to monitor your websites, webpages and zone files once per week. This means that each week every webpage you are monitoring will have a new screenshot and source code generated, and each website will have it's zone files checked.</p>   
</p>We will offer additional plans with a different schedule frequency.</p>
<h3>How do I pause my subscription?</h3>
<p>After <%= link_to "logging in", new_user_session_path %> navigate to your <%= link_to "billing page", subscription_path %> and click "Pause My Subscription".</p>
<p>Your card will no longer be charged, and you will still have access to your websites and webpages until the current billing period is over.</p>
<h3>How do I cancel my subscription?</h3>
<p>After <%= link_to "logging in", new_user_session_path %> navigate to your <%= link_to "account page", edit_user_registration_path %> and click "Cancel my account and subscription".</p>
<p>Your card will no longer be charged, but <strong>this will delete all your data, and cannot be undone.</strong></p>
<h3>How receveive a refund?</h3>