<div class="row mb-3">
    <div class="col">
        <h2 class="h1 text-center">Features</h2>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card border-0 shadow-sm h-100 text-center">
            <div class="card-body d-flex align-items-center flex-column">
                <div class="card-tite d-flex align-items-center pb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="2rem" class="text-white bg-primary mr-2 rounded p-1">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>                
                    <h5 class="mb-0">Capture Screenshots</h5>
                </div>
                <p>Keep track of changes on your site over time.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card border-0 shadow-sm h-100 text-center">
            <div class="card-body d-flex align-items-center flex-column">
                <div class="card-tite d-flex align-items-center pb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="2rem" class="text-white bg-primary mr-2 rounded p-1">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                    </svg>                                 
                    <h5 class="mb-0">Capture Source Code</h5>
                </div>
                <p>Easily revert changes made to your site without having to rely on a full backup.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card border-0 shadow-sm h-100 text-center">
            <div class="card-body d-flex align-items-center flex-column">
                <div class="card-tite d-flex align-items-center pb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="2rem" class="text-white bg-primary mr-2 rounded p-1">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                    </svg>                               
                    <h5 class="mb-0">Monitor DNS Records</h5>
                </div>
                <p>Not all Domain Registrars keep track of changes in your DNS records. We do.</p>
            </div>
        </div>
    </div>
</div>