<% flash.each do |type, message| %>
    <% if type == "notice" %>
        <div class="alert text-center mb-0 alert-success alert-dismissible fade show rounded-0" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>            
        </div>
    <% else %>
        <div class="alert text-center mb-0 alert-danger alert-dismissible fade show rounded-0" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>            
        </div>
    <% end %>
<% end %>