<% flash.each do |type, message| %>
    <% if type == "notice" %>
        <div class="alert text-center mb-0 alert-success alert-dismissible fade show rounded-0" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>            
        </div>
    <% else %>
        <div class="alert text-center mb-0 alert-danger alert-dismissible fade show rounded-0" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>            
        </div>
    <% end %>
<% end %>