<ul class="nav justify-content-center font-weight-light">
    <li class="nav-item">
        <%= link_to "FAQs", faqs_path, class: "nav-link text-white"%>
    </li>
    <li class="nav-item">
        <%= link_to "Contact", "#", class: "nav-link text-white"%>
    </li>
    <li class="nav-item">
        <%= link_to "Terms and Conditions", "#", class: "nav-link text-white"%>
    </li>
    <li class="nav-item">
        <%= link_to "Privacy Policy", "#", class: "nav-link text-white"%>
    </li>    
</ul>