<div class="px-4 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">My Site Archive</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">My Site Archive captures screenshots, downloads source code, and monitors DNS records helping you keep track of changes on your websites without needing to restore from a backup.</p>
      <p class="lead mb-4">Think of it like the Wayback Machine on steroids.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="700" height="500">
      </div>
    </div>
</div>