<% if content_for?(:page_title) %>
    <div class="d-flex align-items-center">
        <h1 class="fw-bold"><%= yield :page_title %></h1>
        <% if content_for?(:page_title_button) %>
            <div class="ms-2">
                <%= yield :page_title_button %>
            </div>
        <% end %>
    </div>
<% end %>