<% content_for :page_title do %>
    Change Plans
<% end %>
<% @available_plans.each do |plan| %>
    <div class="col-lg-6 mb-4">
        <h5 class="mb-4 pb-3 border-bottom"><%= plan.formatted_name %></h5>
        <div class="card border-0 shadow-sm mb-4">
            <div class="card-body d-flex flex-column">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0 border-0 mb-0 pb-0 fs-6">Monitor up to <mark>10 websites</mark>.</li>
                    <li class="list-group-item px-0 border-0 mb-0 pb-0 fs-6">Monitor up to <mark>10 webpages</mark> per website.</li>
                    <li class="list-group-item px-0 border-0 mb-0 pb-0 fs-6"><mark>Weekly</mark> screenshot generation per webpage.</li>
                    <li class="list-group-item px-0 border-0 mb-0 pb-0 fs-6"><mark>Weekly</mark> source code generation per webpage.</li>
                    <li class="list-group-item px-0 border-0 mb-0 pb-0 fs-6"><mark>Weekly</mark> <a href="https://web.dev/" target="_blank">Lighthouse</a> score capture per webpage.</li>
                    <li class="list-group-item px-0 border-0 mb-0 pb-0 fs-6"><mark>Weekly</mark> DNS record generation per website.</li>
                </ul>
            </div>
        </div>
        <%= form_with url: subscription_path, local: true, method: :put do |f| %>
            <%= f.hidden_field :plan, value: plan.processor_id %>
            <%= f.submit "Upgrade to #{plan.formatted_name}", class: "btn btn-sm btn-primary" %>
        <% end %>
    </div>   
<% end %>