<% content_for :page_title do %>
  <% @title %>
<% end %>
<% content_for :column_one do %>
  <% if @zone_file.present? %>
    <h5 class="text-secondary mb-4 border-bottom pb-3">Current DNS Records</h5>
  <div class="card border-0 shadow-sm mb-5">
    <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Record Type</th>
                <th scope="col">Content</th>
                <th scope="col">Priority</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "dns_records/dns_record", collection: @zone_file.dns_records.ordered.unique, as: "dns_record" %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center align-items-center mb-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ml-3">Retrieving DNS Records. Check back later.</span>
  </div>
<% end %>
<% end %>
<% content_for :column_two do %>
  <% if @screenshot.present? %>
    <%= render partial: "screenshots/screenshot", locals: { screenshot: @screenshot } %>
  <% else %>
    <div class="d-flex justify-content-center align-items-center mb-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ml-3">Generating screenshot. Check back later.</span>
    </div>
  <% end %>
<% end %> 