<div class="d-flex align-content-center">
  <div class="me-2">
    <amp-img src="<%= gravatar_path(email: "p013370@gmail.com") %>" alt="Steve Polito" height="40" width="40"></amp-img>
  </div>
  <div>
    <a href="https://twitter.com/stevepolitodsgn" target="_blank" class="lh-1 fw-bold text-secondary text-decoration-none align-self-center"> Steve Polito</a>
    <p class="text-secondary lh-1">Last updated on <%= @post.updated_at.strftime("%B %e, %Y") %></p>
  </div>
</div>