<div class="d-flex align-content-center">
  <%= image_tag gravatar_path(email: "p013370@gmail.com"), size: "40x40", alt: "Steve Polito", class: "rounded-circle mr-2" %>
  <a href="https://twitter.com/stevepolitodsgn" target="_blank" class="text-white font-weight-bolder align-self-center"> Steve Polito</a>
</div>
<p class="text-white">Last updated on <%= @post.updated_at.strftime("%B %e, %Y") %></p>