<div class="d-flex align-content-center">
  <%= image_tag gravatar_path(email: "p013370@gmail.com"), size: "40x40", alt: "Steve Polito", class: "rounded-circle me-2" %>
  <div>
    <a href="https://twitter.com/stevepolitodsgn" target="_blank" class="lh-1 fw-bold text-secondary text-decoration-none align-self-center"> Steve Polito</a>
    <p class="text-secondary lh-1">Last updated on <%= @post.updated_at.strftime("%B %e, %Y") %></p>
  </div>
</div>