<div class="d-flex align-content-center">
  <amp-img src="<%= gravatar_path(email: "p013370@gmail.com") %>" alt="Steve Polito" height="40" width="40"></amp-img>
  <a href="https://twitter.com/stevepolitodsgn" target="_blank" class="font-weight-bolder align-self-center"> Steve Polito</a>
</div>
<p>Last updated on <%= @post.updated_at.strftime("%B %e, %Y") %></p>