<ul class="list-unstyled text-secondary d-flex justify-content-around">
    <% Stat::SCORES.each do |score| %>
        <% unless stat.send("#{score}").nil? %>
        <li class="d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= score.to_s.humanize %>">
            <div style="width: 38px; height:38px;" class="<%= performance_badge( (stat.send("#{score}")*100).round(0) ) %>"><span><%= (stat.send("#{score}")*100).round(0) %></span></div><span class="visually-hidden"><%= score.to_s.humanize %></span>
        </li>
        <% end %>
    <% end %>
</ul> 